*{
    margin: 0;
    padding: 0;
}

.titleimg{
    background-image: url("../img/summer.png");
    height: 100%;
    /* background-repeat: no-repeat; */
    background-size: auto;
    background-attachment: fixed;
    width: 100%;

}

section {
    padding: 20px;
}

article {
    background-color: #fff; /* 白色背景 */
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #ffcccc4e; /* 粉色背景 */
    padding: 20px;
    text-align: center;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    padding: 5px;
    
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position:absolute;
    /* position:fixed; */
    top:60px;
    right:40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.titleimg .title{
    width: 1540px;
    padding:200px;
    font-size: 100px;
    font-weight: bolder;
    color: rgba(91, 136, 173, 0.9);
}
.part1 .img{
    background-image: url("../img/spring.png");
}
.main{
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;
}

.sec{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.pt{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 60%;
    float: left;
    margin: 150px 0px 0px 105px;
    background: rgba(219, 235, 241,0.8);
    box-shadow: 0 0 15px rgb(59, 73, 95);
    border-radius: 15px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: all 0.5s ease 0s;
}
.pt:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.imghid{
    overflow: hidden;
}

.pt .img{
    height: 190px;
    width: 250px;
    background-size: cover;
    background-position: 0px -30px;
    transition: all 0.5s ease 0s;
    opacity: 0.8;
}

.pt .img:hover{
    transform: scale(1.1);
}

.pt .txt{
    height: 310px;
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.pt .txt h1{
    text-align: center;
    font-size: 3em;
    color: rgb(28, 44, 68);
    height: 30px;
    line-height: 30px;
}

.pt .txt p{
    margin-top: -2px;
    word-wrap: break-word;
    color: rgb(114, 182, 202);
}
@keyframes load{
    0%{
        background-position-y: 50px;
        opacity: 0;
    }
    100%{
        background-position-y: 0px;
        opacity: 1;
    }
}

.lefterea {

}


p.main { text-align:justify;}
hr { color:rgb(178, 221, 223)}
a:link    { color:rgb(0, 0, 255); text-decoration: none;}  /*未访问*/
a:visited { color:rgb(156, 8, 255);}          /*已访问*/
a:hover   { color:rgb(255, 0, 0); text-decoration: underline;}  /*鼠标移动到上方*/
a:active  { color:blue;}            /*鼠标点击时*/


